.shopping-list {
  .title {
    font-size: 2.5em;
    color: antiquewhite;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: left;
    margin: 20px;
  }
}
.ant-pagination {
  background-color: black;
  display: flex;
  font-size: 20px;
  justify-content: center;
  .ant-pagination-item-active {
    background-color: #090909;
  }
  .ant-pagination-item-link {
    color: white !important;
  }
  .ant-pagination-item-ellipsis {
    color: white !important;
  }
  .ant-pagination-item {
    background-color: transparent;
    a {
      background-color: transparent;
      color: white !important;
    }
  }
}
