.shopping-list {
  .title {
    font-size: 2.5em;
    color: antiquewhite;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: left;
    margin: 20px;
  }
  
  .search-container {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
    font-size: 18px;
  }
  
  .search-container input {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 300px;
    height: 30px;
    font-size: 18px;
  }
  
  .search-container button {
    padding: 8px 12px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100px;
    font-size: 18px;

  }
//     .search-container button:hover {
//     background-color: #45a049;
//   }
  


  
}
.ant-pagination {
  background-color: black;
  display: flex;
  font-size: 20px;
  justify-content: center;
  .ant-pagination-item-active {
    background-color: #090909;
  }
  .ant-pagination-item-link {
    color: white !important;
  }
  .ant-pagination-item-ellipsis {
    color: white !important;
  }
  .ant-pagination-item {
    background-color: transparent;
    a {
      background-color: transparent;
      color: white !important;
    }
  }
}
